<div class="section" id="location">
    <h2 class="text-center">{{restaurant || 'Sorry, no restaurants under that name'}}</h2>
    <h3 class="text-center">{{location || 'No location chosen'}}</h3>
</div>

<div class="section" id="name">
    <h1 class="text-center">
        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
        <span class="sr-only">name</span>
    </h1>
    <div class="input-group col-md-6 col-centered">
        <span class="input-group-addon">Your name</span>
        <input type="text" class="form-control" placeholder="Bartolomé de las Casas" ng-model="orderName">
    </div>
</div>

<div class="section" id="order">

    <h1 class="text-center">
        <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
        <span class="sr-only">order</span>
    </h1>

    <div class="space">
        <label type="button" class="btn btn-success" ng-click="orders.push({})">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            <span class="sr-only">add</span>
        </label>
    </div>

    <div class="show-grid space highlight" ng-repeat="order in orders">
        <div class="row">
            <div class="col-md-1 space">
                <label type="button" class="btn btn-danger text-center" ng-click="orders = orders.splice($index,1)">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                    <span class="sr-only">delete</span>
                </label>
            </div>
            <div class="col-md-2">
                <div class="well well-xs clearfix">
                    <div class="visible-xs-block">Amount</div>
                    <div class="input-group">
                        <span class="input-group-addon">#</span>
                        <input type="number" class="form-control" placeholder="" min="1" ng-model="order.amount" ng-change="calcPrice(order)">
                    </div>
                </div>
            </div>
            <div class="btn-group col-md-8 col-xs-12">
                <div class="well well-xs clearfix">
                    <div class="visible-xs-block lead">Drink</div>
                    <label class="btn btn-default col-xs-6 " ng-class="getSize(config.menu.drinks.length)" ng-model="order.drink" btn-radio="drink.name" uncheckable ng-repeat="drink in config.menu.drinks" ng-change="calcPrice(order)">{{drink.name}}</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class=" col-md-2 col-md-offset-1">
                <div class="hidden-xs text-right space lead">Size</div>
            </div>
            <div class="btn-group  col-md-8 col-xs-12">
                <div class="well well-xs clearfix">
                    <div class="visible-xs-block lead">Size</div>
                    <label class="btn btn-default additional-stuff col-md-4 col-xs-4" ng-model="order.size" btn-radio="size" uncheckable ng-repeat="size in config.menu.sizes" ng-change="calcPrice(order)">{{size.name}}</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 col-md-offset-1">
                <div class="hidden-xs text-right space lead">Milk</div>
            </div>
            <div class="btn-group col-md-8 col-xs-12">
                <div class="well well-xs clearfix">
                    <div class="visible-xs-block lead">Milk</div>
                    <label type="button" class="visible-xs-block btn btn-default additional-stuff" ng-class="getSize(config.menu.milks.length)" ng-model="order.milk" btn-radio="milk.name" ng-repeat="milk in config.menu.milks" ng-change="calcPrice(order)">{{milk.name}}</label>
                    <label type="button" class="hidden-xs btn btn-default additional-stuff" ng-class="getSize(config.menu.milks.length)" radio="milk.name" ng-model="order.milk" ng-repeat="milk in config.menu.milks" ng-change="calcPrice(order)">{{milk.name}}</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 col-md-offset-1">
                <div class="hidden-xs text-right space lead">Syrup</div>
            </div>
            <div class="col-md-8 col-xs-12">
                <div class="well well-xs clearfix">
                    <div class="visible-xs-block lead">Syrup</div>
                    <label type="button" class="hidden-xs btn btn-default additional-stuff" ng-class="getSize(config.menu.syrups.length)" btn-checkbox ng-model="order.syrup[syrup.name]" ng-repeat="syrup in config.menu.syrups" ng-change="calcPrice(order)">{{syrup.name}}</label>
                    <label type="button" class="visible-xs-block btn btn-default additional-stuff" ng-class="getSize(config.menu.syrups.length)" btn-checkbox ng-model="order.syrup[syrup.name]" ng-repeat="syrup in config.menu.syrups" ng-change="calcPrice(order)">{{syrup.name}}</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 col-md-offset-1">
                <div class="well well-xs clearfix">
                    <div class="visible-xs-block lead">Extra Shots</div>
                    <div class="input-group">
                        <span class="input-group-addon">+ Shots</span>
                        <input type="number" class="form-control" placeholder="#" max="3" min="0" ng-model="order.extraShots" ng-change="calcPrice(order)">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="well well-xs clearfix">
                    <div class="visible-xs-block lead">Extras</div>
                    <div class="btn-group col-md-12 col-xs-12">
                        <label class="btn btn-default additional-stuff col-xs-4" ng-model="order.temp" btn-radio="'extra hot'" uncheckable>extra hot</label>
                        <label class="btn btn-default additional-stuff col-xs-4" ng-model="order.temp" btn-radio="'hot'" uncheckable>hot</label>
                        <label class="btn btn-default additional-stuff col-xs-4" ng-model="order.temp" btn-radio="'iced'" uncheckable>iced</label>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="well well-xs clearfix">
                    <div class="visible-xs-block lead">Leave a little room?</div>

                    <label type="button" class="btn btn-default additional-stuff col-md-12 col-xs-12" ng-model="order.mod.roomForCream" btn-checkbox>
                        room
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section" id="time">
    <h1 class="text-center">
        <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
        <span class="sr-only">time</span>
    </h1>
    <timepicker class="col-centered" ng-model="pickupTime" ng-change="verifyTime(pickupTime)"></timepicker>
    <div class="col-centered text-center">
        When will you pick it up?
        <p class="label alert-warning">
            <span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span>
            <span>I scroll!</span>
        </p>
    </div>
</div>

<div class="section" id="confirm">
    <div class="receipt col-md-offset-3 col-md-6">
        <h2 class="text-center">{{orderName}}</h2>
        <p class="text-center">Today at {{determineTime(pickupTime)}}</p>
        <div ng-repeat="order in orders">
            <div class="row">
                <div class="col-md-8">({{order.amount}}) {{order.size.name}} {{order.temp}} {{determineShotPlurality(order.extraShots)}} {{order.chocolate ? order.chocolate+' chocolate' : ''}} {{order.drink}} {{order.position}}
                </div>

                <div class="col-md-4 text-right">
                    ${{order.price || '0.00'}}
                </div>
            </div>
            <div class="text-center">
                {{order.comments}}
            </div>
            <div class="row">
                <div class="col-md-offset-3 col-md-4">
                    <div ng-repeat="(flavor,value) in order.flavor">{{value?flavor:''}}</div>
                </div>
                <div class="col-md-4">
                    <div ng-repeat="(milk,value) in order.milk | filter:'value === true'">{{value?milk:''}}</div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-3 col-md-4">
                    {{order.mod.extraFoam ? 'extra foam': '' }}
                </div>
                <div class="col-md-4">
                    {{order.mod.roomForCream ? 'room for cream': '' }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class=" col-md-2 col-md-offset-1">
                <div class="hidden-xs text-right space lead">Tip</div>
            </div>
            <div class="btn-group  col-md-8 col-xs-12">
                <div class="well well-xs clearfix">
                    <div class="visible-xs-block lead">Tip</div>
                    <label class="btn btn-default additional-stuff col-xs-4" ng-model="tip" btn-radio="'10'" uncheckable>10%</label>
                    <label class="btn btn-default additional-stuff col-xs-4" ng-model="tip" btn-radio="'15'" uncheckable>15%</label>
                    <label class="btn btn-default additional-stuff col-xs-4" ng-model="tip" btn-radio="'20'" uncheckable>20%</label>
                </div>
            </div>
        </div>
        <div class="text-center lead">
            ${{getTotal(orders, tip || 0)}}
        </div>
    </div>
</div>

<div class="section">

</div>

<div class="section " id="pay">
    <div class="container">
        <form class="form-horizontal" role="form">
            <fieldset>
                <legend>Payment</legend>
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="card-holder-name">Name on Card</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" name="card-holder-name" id="card-holder-name" placeholder="Card Holder's Name">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="card-number">Card Number</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" name="card-number" id="card-number" placeholder="Debit/Credit Card Number">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="expiry-month">Expiration Date</label>
                    <div class="col-sm-9">
                        <div class="row">
                            <div class="col-md-3">
                                <select class="form-control col-sm-2" name="expiry-month" id="expiry-month">
                                    <option>Month</option>
                                    <option value="01">Jan (01)</option>
                                    <option value="02">Feb (02)</option>
                                    <option value="03">Mar (03)</option>
                                    <option value="04">Apr (04)</option>
                                    <option value="05">May (05)</option>
                                    <option value="06">June (06)</option>
                                    <option value="07">July (07)</option>
                                    <option value="08">Aug (08)</option>
                                    <option value="09">Sep (09)</option>
                                    <option value="10">Oct (10)</option>
                                    <option value="11">Nov (11)</option>
                                    <option value="12">Dec (12)</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <select class="form-control" name="expiry-year">
                                    <option value="13">2013</option>
                                    <option value="14">2014</option>
                                    <option value="15">2015</option>
                                    <option value="16">2016</option>
                                    <option value="17">2017</option>
                                    <option value="18">2018</option>
                                    <option value="19">2019</option>
                                    <option value="20">2020</option>
                                    <option value="21">2021</option>
                                    <option value="22">2022</option>
                                    <option value="23">2023</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="cvv">Card CVV</label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" name="cvv" id="cvv" placeholder="Security Code">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-9">
                        <button type="button" class="btn btn-success">Pay Now</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
