<div class="section" id="location">
    <h2 class="text-center">{{restaurant || 'Sorry, no restaurants under that name'}}</h2>
    <h3 class="text-center">{{location || 'No location chosen'}}</h3>
</div>

<div class="section" id="name">
    <h1 class="text-center">
        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
        <span class="sr-only">name</span>
    </h1>
    <div class="input-group col-md-6 col-centered">
        <span class="input-group-addon">Your name</span>
        <input type="text" class="form-control" placeholder="Bartolomé de las Casas" ng-model="orderName">
    </div>
</div>

<div class="section" id="order">

    <h1 class="text-center">
        <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
        <span class="sr-only">order</span>
    </h1>

    <div class="space text-center">
        <label type="button" class="btn btn-success" ng-click="orders.push({size: 'small'})">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            <span class="sr-only">add</span>
        </label>
    </div>







    <div class="show-grid space highlight" ng-repeat="order in orders">
        <div class="row">
            <div class="btn-group space  col-md-8 col-md-offset-2">
                <label class="btn btn-default additional-stuff" ng-class="getSize(config.menu.drinks.length)" ng-model="order.drink" btn-radio="drink.name" uncheckable ng-repeat="drink in config.menu.drinks" ng-change="calcPrice(order)">{{drink.name}}</label>
            </div>
        </div>
        <div class="row">
            <div class="space col-md-1 col-md-offset-1">
                <p class="space">Size</p>
            </div>
            <div class="btn-group space col-md-8">

                <label class="btn btn-default additional-stuff col-md-4" ng-model="order.size" btn-radio="size" uncheckable ng-repeat="size in ['small','medium','large']" ng-change="calcPrice(order)">{{size}}</label>
            </div>
        </div>
        <div class="row">
            <div class="space col-md-1 col-md-offset-1">
                <p class="space">Chocolate</p>
            </div>
            <div class="btn-group space col-md-8">
                <label class="btn btn-default additional-stuff" ng-class="getSize(config.menu.chocolates.length)" ng-model="order.chocolate" btn-radio="chocolate.name" uncheckable ng-repeat="chocolate in config.menu.chocolates" ng-change="calcPrice(order)">{{chocolate.name}}</label>
            </div>
        </div>
        <div class="row">
            <div class="space col-md-1 col-md-offset-1">
                <p class="space">Milk</p>
            </div>
            <div class="btn-group space col-md-8">
                <label type="button" class="btn btn-default additional-stuff" ng-class="getSize(config.menu.milks.length)" btn-checkbox ng-model="order.milk[milk.name]" ng-repeat="milk in config.menu.milks" ng-change="calcPrice(order)">{{milk.name}}</label>
            </div>
        </div>
        <div class="row">
            <div class="space col-md-1 col-md-offset-1">
                <p class="space">Flavor</p>
            </div>
            <div class="space col-md-8">
                <label type="button" class="btn btn-default additional-stuff" ng-class="getSize(config.menu.flavors.length)" btn-checkbox ng-model="order.flavor[flavor.name]" ng-repeat="flavor in config.menu.flavors" ng-change="calcPrice(order)">{{flavor.name}}</label>
            </div>
        </div>
        <div class="row">
            <form class="form-inline space col-md-8 col-md-offset-2" role="form">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">shots</div>
                        <input type="number" class="form-control" placeholder="#" max="3" min="0" ng-model="order.extraShots" ng-change="calcPrice(order)">
                    </div>
                </div>

                <div class="btn-group">
                    <label class="btn btn-default additional-stuff" ng-model="order.temp" btn-radio="'extra hot'" uncheckable>extra hot</label>
                    <label class="btn btn-default additional-stuff" ng-model="order.temp" btn-radio="'hot'" uncheckable>hot</label>
                    <label class="btn btn-default additional-stuff" ng-model="order.temp" btn-radio="'iced'" uncheckable>iced</label>
                </div>
                <label type="button" class="btn btn-default additional-stuff" ng-model="order.mod.extraFoam" btn-checkbox>
                    extra foam
                </label>

                <label type="button" class="btn btn-default additional-stuff" ng-model="order.mod.roomForCream" btn-checkbox>
                    room for cream
                </label>

                <label type="button" class="btn btn-danger pull-right" ng-click="orders = orders.splice($index,1)">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                    <span class="sr-only">delete</span>
                </label>
            </form>
        </div>
        <div class="row">
            <div class="btn-group space col-md-offset-2 col-md-8">
                <label class="btn btn-default additional-stuff col-md-6" ng-model="order.position" btn-radio="'to go'" uncheckable>to go</label>
                <label class="btn btn-default additional-stuff  col-md-6" ng-model="order.position" btn-radio="'for here'" uncheckable>for here</label>
            </div>
        </div>
        <div class="row">
            <div class="input-group space col-md-offset-2 col-md-8">
                <span class="input-group-addon">custom order</span>
                <input type="text" class="form-control" placeholder="" ng-model="order.comments">
            </div>
        </div>
    </div>

</div>

<div class="section" id="time">
    <h1 class="text-center">
        <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
        <span class="sr-only">time</span>
    </h1>
    <timepicker class="col-centered" ng-model="pickupTime" ng-change="verifyTime(pickupTime)"></timepicker>
    <div class="col-centered text-center">
        When will you pick it up?
        <p class="label label-warning">
            <span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span>
            <span>I scroll!</span>
        </p>
    </div>
</div>

<div class="section " id="confirm">
    <div class="receipt col-md-offset-3 col-md-6">
        <h2 class="text-center">{{orderName}}</h2>
        <p class="text-center">Today at {{determineTime(pickupTime)}}</p>
        <div ng-repeat="order in orders">
            <div class="row">
                <div class="col-md-8">{{order.size}} {{order.temp}} {{determineShotPlurality(order.extraShots)}} {{order.chocolate ? order.chocolate+' chocolate' : ''}} {{order.drink}} {{order.position}}
                </div>

                <div class="col-md-4 text-right">
                    ${{order.price || '0.00'}}
                </div>
            </div>
            <div class="row">
                <ul class="col-md-offset-3 col-md-4">
                    <li ng-repeat="(flavor,value) in order.flavor">{{value?flavor:''}}</li>
                </ul>
                <ul class="col-md-4">
                    <li ng-repeat="(milk,value) in order.milk">{{value?milk:''}}</li>
                </ul>
            </div>

        </div>
        <div class="text-center lead">
            ${{getTotal(orders)}}
        </div>
    </div>
</div>

<div class="section " id="pay">
</div>
